<div id="body-info">
    <div class="body-info-container">
        <div class="body-info-container__item">
            <div class="body-info-container__toggle--img">
                <img class="body-info-container__img" src="/assets{{animal.photos.[0]}}"
                    onclick="openImgImage(this)"></img>
                <div class="body-info-container__sub">
                    <div class="body-info-container__sub--img" style="
                                        background-image: url('/assets{{animal.photos.[1]}}');
                                    "onclick="openDivImage(this)"></div>
                    <div class="body-info-container__sub--img" style="
                                        background-image: url('/assets{{animal.photos.[2]}}');
                                    "onclick="openDivImage(this)"></div>
                    <div class="body-info-container__sub--img" style="
                                        background-image: url('/assets{{animal.photos.[3]}}');
                                    "onclick="openDivImage(this)"></div>
                </div>
            </div>

            <div class="body-info-container__location">
                <div class="body-info-container__location--item location-btn" onclick="myFunction()">
                    <i class="fas fa-map-marked body-info-container__location--icon" ></i>
                    <a class="body-info-container__location--text" href="/map/{{animal.slug}}">
                        LOCATION
                    </a>
                </div>

                <div class="body-info-container__location--item img-btn display-none" onclick="myFunction()">
                    <i class="far fa-images body-info-container__location--icon"></i>
                    <div class="body-info-container__location--text">
                        IMAGE
                    </div>
                </div>
            </div>
        </div>
        <div class="body-info-container__item">
            <div class="body-info-container__item--text">
                Tên khoa học: {{animal.science_name}}
            </div>
            <div class="body-info-container__item--text">
                Tên địa phương: {{animal.vietnamse_name}}
            </div>
            <div class="body-info-container__item--text">
                Ngành: {{animal.phylum}}
            </div>
            <div class="body-info-container__item--text2">
                Đặc điểm: <br />

                <div class="body-info-container__item--text2--des">
                    {{animal.morphological_detail}}
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal01" class="w3-modal" onclick="this.style.display='none'">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <div class="w3-modal-content w3-animate-zoom">
        <img id="img01" style="width:100%">
    </div>
</div>

